.homepageContainer {
	background-color: #f6f0ed;
	flex-direction: column;
	display: flex;
	height: auto;
	width: 100%;
	overflow: scroll;
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: auto;
	margin-bottom: 60px;
}

.studioGhibliLogo {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: -50px;
}

.about {
	display: flex;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	height: 100%;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
	font-size: 15px;
}

.exploreContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -250px;
	position: relative;
}

.movieCollage {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 350%;
	justify-content: center;
	display: block;
	border-radius: 10px;
}

.exploreFilms {
	font-family: 'Spartan', sans-serif;
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 670%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 150px;
	align-content: center;
}

.exploreFilms:hover {
	color: currentColor;
	text-decoration: underline;
}

.filmsLink {
	justify-content: center;
	height: auto;
	padding: 0px;
	margin: auto;
}

@media only screen and (min-width: 375px) {
	.homepageContainer {
		height: auto;
		width: 100%;
		overflow: scroll;
		padding-bottom: 35%;
	}

	.studioGhibliLogo {
		width: 80%;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}

	.about {
		padding-right: 20px;
		padding-left: 20px;
		margin-top: 10px;
		font-size: 13px;
	}

	.exploreContainer {
		padding-top: 70px;
	}

	.movieCollage {
		width: 80%;
	}

	.exploreFilms {
		left: 0;
		right: 0;
		top: 590%;
	}
}

@media only screen and (min-width: 414px) {
	.exploreFilms {
		left: 0;
		right: 0;
		top: 670%;
	}
}

@media only screen and (min-width: 415px) {
	.homepageContainer {
		height: auto;
		width: 100%;
		overflow: scroll;
		padding-bottom: 35%;
	}

	.exploreFilms {
		left: 0;
		right: 0;
		top: 770%;
	}
}

@media only screen and (min-width: 768px) {
	.homepageContainer {
		height: auto;
		width: 100%;
		overflow: scroll;
		padding-bottom: 35%;
	}

	.about {
		font-size: 20px;
	}

	.exploreFilms {
		left: 0;
		right: 0;
		top: 850%;
	}
}

@media only screen and (min-width: 769px) {
	.homepageContainer {
		height: auto;
		width: 100%;
		overflow: scroll;
		padding-bottom: 60%;
	}
	.exploreFilms {
		left: 0;
		right: 0;
		top: 950%;
	}
}

@media only screen and (min-width: 1024px) {
	.homepageContainer {
		height: auto;
		width: 100%;
		overflow: scroll;
		padding-bottom: 35%;
	}

	.studioGhibliLogo {
		display: flex;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	.about {
		font-size: 30px;
	}

	.exploreContainer {
		padding-top: 70px;
	}

	.movieCollage {
		width: 80%;
	}

	.exploreFilms {
		font-size: 35px;
		margin-top: 10px;
		left: 0;
		right: 0;
		top: 1070%;
	}
}

@media only screen and (min-width: 1025px) {
	.homepageContainer {
		height: auto;
		width: 100%;
		overflow: scroll;
		padding-bottom: 35%;
	}

	.studioGhibliLogo {
		margin-top: 10px;
		width: 40%;
	}

	.about {
		font-size: 20px;
		padding-left: 150px;
		padding-right: 150px;
		margin-top: 20px;
	}

	.movieCollage {
		width: 50%;
		margin-top: 0px;
	}

	.exploreFilms {
		left: 0;
		right: 0;
		width: 250px;
		padding-top: 140px;
	}
}

@media only screen and (min-height: 667px) {
	.exploreFilms {
		padding-top: 10px;
	}
}

@media only screen and (min-height: 812px) {
	.studioGhibliLogo {
		padding-top: 55px;
	}
}

@media only screen and (min-height: 768px) {
	.studioGhibliLogo {
		padding-top: 10px;
	}

	.exploreFilms {
		padding-bottom: 40px;
	}
}
