.homepageContainer {
	background-color: #f6f0ed;
	flex-direction: column;
	display: flex;
	height: auto;
	width: 100%;
	overflow: scroll;
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: auto;
	margin-bottom: 60px;
}

.studioGhibliLogo {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: -50px;
}

.about {
	display: flex;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	height: 100%;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
	font-size: 15px;
}

.exploreContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -250px;
}

.movieCollage {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	justify-content: center;
}

.exploreFilms {
	font-family: 'Spartan', sans-serif;
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 5px;
}

.exploreMovies:hover {
	border-bottom: 1px solid currentColor;
}

@media only screen and (min-width: 375px) {
	.studioGhibliLogo {
		width: 80%;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}

	.about {
		padding-right: 20px;
		padding-left: 20px;
		margin-top: 10px;
		font-size: 13px;
	}

	.exploreContainer {
		padding-top: 70px;
	}

	.movieCollage {
		width: 80%;
		padding-top: 90px;
		margin-top: 90px;
	}

	.homepageContainer {
		height: 750px;
		margin-bottom: 60px;
	}
}

@media only screen and (min-width: 768px) {
	.homepageContainer {
		height: 900px;
		margin-bottom: 60px;
	}

	.about {
		font-size: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.homepageContainer {
		height: 1270px;
	}

	.studioGhibliLogo {
		display: flex;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	.about {
		font-size: 30px;
	}

	.exploreContainer {
		padding-top: 70px;
	}

	.movieCollage {
		width: 80%;
	}

	.exploreFilms {
		font-size: 25px;
		margin-top: 10px;
	}
}

@media only screen and (min-width: 1025px) {
	.homepageContainer {
		height: auto;
		width: 100%;
		overflow: scroll;
		padding-bottom: 35px;
	}

	.studioGhibliLogo {
		margin-top: 10px;
		width: 50%;
	}

	.about {
		font-size: 20px;
		padding-left: 150px;
		padding-right: 150px;
		margin-top: 20px;
	}

	.movieCollage {
		width: 50%;
		margin-top: 90px;
	}
}
