.movieListContainer {
	background-color: #f6f0ed;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	grid-auto-rows: 100px;
	justify-items: center;
	position: fixed;
	height: auto;
	width: 100%;
	overflow: scroll;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	margin-bottom: 60px;
}

.filmsList {
	margin-top: 30px;
	margin-bottom: 30px;
}

.films {
	text-align: center;
	margin: -10px;
	padding: 20px;
	padding-bottom: 5px;
	margin: auto;
	font-family: 'Spartan', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.films:hover {
	border-bottom: 2px solid black;
}

@media only screen and (max-width: 768px) {
	.movieListContainer {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0px;
	}
}
