* {
	box-sizing: border-box;
}

.movieListContainer {
	background-color: #f6f0ed;
	position: fixed;
	height: auto;
	width: 100%;
	margin: 0 auto;
	overflow: scroll;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	margin-bottom: 60px;
	/* margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-between;
	flex-wrap: wrap; */
}

.films {
	display: block;
	font-family: 'Spartan', sans-serif;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
	color: black;
	text-decoration: none;
	background-color: #f6f0ed;
	align-items: center;
}

.films:hover {
	text-decoration: underline;
}

/* @media only screen and (max-width: 768px) {
	.movieListContainer {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0px;
	}
} */
