* {
	box-sizing: border-box;
}

.navContainer {
	background-color: #717c89;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 15px 0 black;
	z-index: 1;
}

.appName {
	font-family: 'Spartan', sans-serif;
	color: white;
	font-size: 20px;
	padding-left: 30px;
}

.moviesButton,
.contact {
	font-family: 'Spartan', sans-serif;
	color: white;
	font-size: 20px;
	padding-right: 30px;
}

.navLinks ul {
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	width: 40%;
	list-style: none;
}

.navList li {
	padding: 1rem;
	display: block;
}

.appName:hover {
	text-decoration: none;
	color: white;
}

.moviesButton:hover,
.contact:hover {
	text-decoration: underline;
	color: white;
}

.burger {
	position: absolute;
	right: 1rem;
	padding-bottom: 5px;
	display: none;
	background-color: #717c89;
	border: none;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	border-radius: 10px;
}

@media only screen and (max-width: 812px) {
	.navContainer {
		position: fixed;
		display: flex;
		align-items: center;
		box-shadow: 0 0 5px 0 black;
		justify-content: center;
		flex-direction: column;
	}

	.container {
		padding: 10px;
	}
}

@media only screen and (max-width: 1024px) {
	.navContainer {
		display: flex;
		flex-direction: row;
	}

	.appName,
	.moviesButton,
	.contact {
		font-size: 25px;
		display: flex;
	}
}

@media screen and (max-width: 768px) {
	.navContainer {
		display: flex;
	}

	.appName {
		padding-left: 30px;
		font-size: 25px;
		padding-right: 70px;
	}

	.contact {
		display: none;
	}
}

@media only screen and (max-width: 375px) {
	.moviesButton {
		font-size: 15px;
		padding: 0px;
	}

	.appName {
		display: flex;
		font-size: 15px;
		margin-right: -10%;
	}
}

@media only screen and (max-width: 414px) {
	.moviesButton {
		padding-right: 10px;
		font-size: 15px;
	}

	.appName {
		font-size: 15px;
		margin-right: -10%;
	}
}

@media only screen and (max-height: 677px) {
	.moviesButton {
		font-size: 15px;
		padding: 0px;
	}

	.appName {
		display: flex;
		font-size: 15px;
		margin-right: -10%;
	}
}

@media only screen and (max-height: 812px) {
	.moviesButton,
	.contact {
		font-size: 1rem;
		padding: 0px;
	}

	.contact {
		padding-right: 20px;
	}

	.appName {
		display: flex;
		font-size: 1rem;
		margin-right: -10%;
	}
}
