.navContainer {
	background-color: #717c89;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 15px 0 black;
}

.appName,
.homepage,
.moviesButton,
.contact {
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin: 20px;
	font-family: 'Spartan', sans-serif;
	padding-bottom: 5px;
}

.appName:hover {
	text-decoration: none;
	color: white;
}

.homepage:hover,
.moviesButton:hover,
.contact:hover {
	text-decoration: underline currentColor;
}

@media only screen and (max-width: 812px) {
	.navContainer {
		position: fixed;
		display: flex;
		align-items: center;
		box-shadow: 0 0 5px 0 black;
		justify-content: center;
		flex-direction: column;
	}

	.container {
		padding: 10px;
	}

	.homepage,
	.moviesButton,
	.contact {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.navContainer {
		display: flex;
		flex-direction: row;
	}

	.appName,
	.homepage,
	.moviesButton,
	.contact {
		font-size: 25px;
	}
}
