.footerContainer {
	background-color: #717c89;
	display: flex;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	align-items: center;
	justify-content: left;
	color: white;
	box-shadow: 0 0 5px 0 black;
	font-family: 'Spartan', sans-serif;
	/* position: sticky;
	position: -webkit-sticky; */
}

.contactInfo {
	display: flex;
	font-size: 20px;
	margin: 20px;
}

.linkedin {
	color: white;
	font-family: 'Spartan', sans-serif;
	padding-left: 5px;
}

.linkedin:hover {
	text-decoration: underline white;
	color: white;
}

@media only screen and (min-width: 768px) {
	.footerContainer {
		align-items: center;
		justify-content: center;
		bottom: 0;
		position: fixed;
	}
}

@media only screen and (min-width: 375px) {
	.footerContainer {
		bottom: 0;
		justify-content: center;
	}
}
