.movieContainer {
	background-color: #f6f0ed;
	padding-top: 100px;
	padding-bottom: 100px;
	justify-content: center;
	align-content: center;
	align-items: center;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	z-index: -2;
}

.movieTitle {
	font-family: 'Spartan', sans-serif;
}

.releaseDate {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.director {
	font-family: 'Roboto', sans-serif;
}

.movieDescription {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-style: italic;
}

.rtScore {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.trailerHeading {
	font-family: 'Spartan', sans-serif;
	text-align: center;
	padding-top: 30px;
}

.trailer {
	position: absolute;
	padding-left: 10px;
}

@media only screen and (min-width: 375px) {
	.movieTitle {
		padding-top: 10px;
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	.movieContainer {
		padding-bottom: 180px;
	}

	.movieTitle {
		padding-top: 10px;
		text-align: left;
	}
}

@media only screen and (min-width: 1024px) {
	.movieContainer {
		padding-bottom: 330px;
	}

	.descriptionContainer {
		padding-top: 300px;
	}

	.movieTitle {
		text-align: left;
	}
}

@media only screen and (min-width: 1025px) {
	.movieTitle {
		text-align: left;
	}

	.movieContainer {
		padding-bottom: 100px;
		padding-top: 85px;
	}

	.descriptionContainer {
		padding-top: 50px;
	}
}

@media only screen and (min-height: 1336px) {
	.movieContainer {
		padding-top: 20px;
		padding-bottom: 90px;
	}

	.descriptionContainer {
		padding-top: 130px;
	}
}

@media only screen and (min-height: 1024px) {
	.movieContainer {
		padding-bottom: 120px;
	}
}
